# Topcoder Submission API Wrapper

## Step to run tests

1. Set the environment variables found in `test/testConfig.js`
2. run `npm run test` to run unit tests
3. run `npm run cov` to run unit tests and generate coverage report

## Test Coverage Report

172 passing (9m)

 File                                       | % Stmts | % Branch | % Funcs | % Lines | Uncovered Line #s
 ------------------------------------------ | ------- | -------- | ------- | ------- | -----------------
 All files                                  | 99.14   | 84.62    | 100     | 99.14   |
 topcoder-submission-api-wrapper            | 100     | 100      | 100     | 100     |
 index.js                                   | 100     | 100      | 100     | 100     |
 topcoder-submission-api-wrapper/src        | 100     | 100      | 100     | 100     |
 ReviewSummationsApi.js                     | 100     | 100      | 100     | 100     |
 ReviewTypesApi.js                          | 100     | 100      | 100     | 100     |
 ReviewsApi.js                              | 100     | 100      | 100     | 100     |
 topcoder-submission-api-wrapper/src/common | 96      | 81.82    | 100     | 96      |
 helper.js                                  | 96      | 81.82    | 100     | 96      |                63
