# Topcoder Submission API Wrapper

## Step to run tests
1. run `source env.sh` to initialize process environment
2. run `npm run test` to run unit tests
3. run `npm run cov` to run unit tests and generate coverage report

## Test Coverage Report

  105 passing (2m)

-----------------------------------|----------|----------|----------|----------|-------------------|
File                               |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s |
-----------------------------------|----------|----------|----------|----------|-------------------|
All files                          |    98.86 |    84.62 |      100 |    98.86 |                   |
 submission-api-wrapper            |      100 |      100 |      100 |      100 |                   |
  index.js                         |      100 |      100 |      100 |      100 |                   |
 submission-api-wrapper/src        |      100 |      100 |      100 |      100 |                   |
  ReviewTypesApi.js                |      100 |      100 |      100 |      100 |                   |
  ReviewsApi.js                    |      100 |      100 |      100 |      100 |                   |
 submission-api-wrapper/src/common |       96 |    81.82 |      100 |       96 |                   |
  helper.js                        |       96 |    81.82 |      100 |       96 |                63 |
-----------------------------------|----------|----------|----------|----------|-------------------|

