# Topcoder Submission API Review Types Wrapper

## Step to run tests
1. run `source env.sh` to initialize process environment
2. run `npm run test` to run unit tests
3. run `npm run cov` to run unit tests and generate coverage report

## Test Coverage Report

  45 passing (2m)

File                                               |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s |
---------------------------------------------------|----------|----------|----------|----------|-------------------|
All files                                          |    98.33 |    84.62 |      100 |    98.33 |                   |
 tc-submission-api-review-types-wrapper            |      100 |      100 |      100 |      100 |                   |
  index.js                                         |      100 |      100 |      100 |      100 |                   |
 tc-submission-api-review-types-wrapper/src        |      100 |      100 |      100 |      100 |                   |
  ReviewTypesApi.js                                |      100 |      100 |      100 |      100 |                   |
 tc-submission-api-review-types-wrapper/src/common |       96 |    81.82 |      100 |       96 |                   |
  helper.js                                        |       96 |    81.82 |      100 |       96 |                63 |
