# Topcoder Submission API Wrapper

## Step to run tests

1. Set the environment variables found in `test/testConfig.js`
2. run `npm run test` to run unit tests
3. run `npm run cov` to run unit tests and generate coverage report

## Test Coverage Report

683 passing

File                                        |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s |
--------------------------------------------|----------|----------|----------|----------|-------------------
All files                                   |    99.51 |    95.59 |      100 |    99.51 |
 topcoder-submission-api-wrapper            |      100 |      100 |      100 |      100 |
  index.js                                  |      100 |      100 |      100 |      100 |
 topcoder-submission-api-wrapper/src        |      100 |      100 |      100 |      100 |
  ReviewSummationsApi.js                    |      100 |      100 |      100 |      100 |
  ReviewTypesApi.js                         |      100 |      100 |      100 |      100 |
  ReviewsApi.js                             |      100 |      100 |      100 |      100 |
  SubmissionsApi.js                         |      100 |      100 |      100 |      100 |
 topcoder-submission-api-wrapper/src/common |    98.25 |       88 |      100 |    98.25 |
  constants.js                              |      100 |      100 |      100 |      100 |
  helper.js                                 |    98.21 |       88 |      100 |    98.21 |               134
